@font-face {
	  font-family: 'Walkway';
		  src:  url('Walkway.ttf') format('truetype');
		}

body {
	font-family: 'Walkway', sans-serif;
	background-color:white;
	color:black;
	width:1113px;
}

p {
	line-height: 18px;
	letter-spacing: .08em;
}


h2, h3{
	margin:0;
}

.comingSoon{
	color:#FFFFFF;
	text-align:center;
	margin-top:250px;
}

.comingSoon h2{
	font-size:36px;
}

.menu{
	font-size:18px;
	text-align:right;
	width:157px;
	line-height: 32px;
	float:left;
	position:fixed;
	top:0;
	color:black;
}

.menu a{
	font-family:'Walkway', 'HelveticaNeue', sans-serif;
	text-decoration:none;
	color:black;
}

.logo{
	width:1118px;
}

.logo img{
	position:absolute;
	top:9px;
	left:1058px;
	z-index:-2;
}

.mainContent{
	width:891px;
	padding-top:10px;
}

.active {
	padding-bottom:2px;
	border-bottom: 1px solid #FFFFFF;
}


.backgroundIMG img{
	margin-left:251px;
	position:fixed;
	left:0px;
	top:0px;
	z-index:-1;
}

/*home page*/

.social{
	position:absolute;
	margin-left:985px;
	margin-top:210px;
	z-index:5;
}

.homeFeature{
	width:443px;
	height:335px;
	margin-top:240px;
	margin-left:165px;
	background-image: url("images/transparentBKG.png");
	border:#FFFFFF 1px solid;
	float:left;
}

.homeFeatureLeft{
	width:443px;
	height:335px;
	margin-top:240px;
	margin-left:5px;
	background-image: url("images/transparentBKG.png");
	border:#FFFFFF 1px solid;
	float:left;
}

.box_rotate {
	-moz-transform: rotate(270deg);  /* FF3.5+ */
	-o-transform: rotate(270deg);  /* Opera 10.5 */
	-webkit-transform: rotate(270deg);  /* Saf3.1+, Chrome */
	filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.90);  /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.90)"; /* IE8 */
	color:black;
	position: absolute;
	left: 70px;
	top: 368px;							
	margin-top:13px;
}

.homeCloud{
	margin-left:35px;
	margin-top:0;
}

.homeLinks{
	margin-left:35px;
}

.homeLinks a{
		  color:#FFFFFF;
}


.box_rotate_left {
	-moz-transform: rotate(270deg);  /* FF3.5+ */
	-o-transform: rotate(270deg);  /* Opera 10.5 */
	-webkit-transform: rotate(270deg);  /* Saf3.1+, Chrome */
	filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.90);  /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.90)"; /* IE8 */
	color:black;
	position: absolute;
	left: 605px;
	top: 290px;
	margin-top:8px;

}
.news a{
	color:#FFFFFF;
}

.newsHeader{
	color:#FFFFFF;
	margin:10px 0 15px 32px;
}


.news{
	width:401px;
	height:247px;
	margin-left:32px;
	overflow:hidden;
}

.news p{
/*	font-family:'georgia';*/
	font-size:14px;
}


.keepReading{
	float:right;
	margin-right:10px;
}

.keepReading a{
	  color:#FFFFFF;
}



/*recent media classes */

.hideFullSize{
	display:none;
}

.media{
	z-index: 2;
	position:absolute;
}

.hoverText{
	width:122px;
	height:122px;
	background-image:url("images/transparentBKG.png");
	position:relative;
	z-index:1;
	top:0;
	border:1px solid #e5e113;
}

.hoverText p{
	text-align: center;
	margin:0px;
	padding:1em;
	color:#e5e113;
}

#gallery a{
	display:block;
	width:100%;
	height:100%;
	text-decoration:none;
			}

.modalHeader{
	padding-left:20px;
}

.modalHeader p{
	margin-top:0;
	font-size:24px;
}

.modalImage{
	float:left;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:10px;
}

.modalText{
	width:200px;
	font-size:13px;
	line-height:15px;
	letter-spacing:0.08em;
	float:left;
}

.modalText a{
	color:#e5e113;
}

/* carousel */
.recentMedia{
	width:900px;
	height:150px;
}

.box_rotate_caro {
	-moz-transform: rotate(270deg);  /* FF3.5+ */
	-o-transform: rotate(270deg);  /* Opera 10.5 */
	-webkit-transform: rotate(270deg);  /* Saf3.1+, Chrome */
	filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.90);  /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.90)"; /* IE8 */
	color:black;
	position: absolute;
	left: 130px;
	top: 653px;
}


/* euro tour page */
.feature{
	width:891px;
	height:580px;
	margin-left:165px;
	border:#FFFFFF 1px solid;
	background-image: url("images/transparentBKG.png");
}

.feature a{
	color:#FFFFFF;
}

.feature img{
	padding-left:10px;

}

.rightSideText{
	width:480px;
	text-align:left;
	float:right;
	padding-left:10px;
}

.tourBios{
	width:891px;
	height:100%;
	margin-left:165px;
	margin-top:20px;
	padding-left:10px;
	background-image: url("images/transparentBKG.png");
}

#title{
	font-size:40px;
	padding-left:10px;
	width:861px;
	height:45px;
	border-bottom:1px #FFFFFF solid;
}

.singleBio{
	padding-bottom:10px;
	clear:both;
}
.soundcloudEmbed{
	width:360px;
	float:left;
}

.bioText{
	float:left;
	width:513px;
	padding-right:10px;
}

/*live page*/

.eventName{
	width: 320px;
	height: 500px;
	margin-left: 30px;
	float: left;
}

#live{
	height:700px;
}

#desc{
	width:370px;
}


/*artist Page*/

.imageList{
	width: 636px;
	height: 496px;
	float:left;
	margin-top:30px;

}

.pages ul{
	  list-style-type:none;
	margin:0;
	padding:0;
}

.paging li{
	width:210px;
	height:210px;
	float:left;
		}



.simplePagerNav{
	width: 60px;
	height: 60px;
	float: right;
	position: absolute;
	top: 530px;
	left: 780px;
}

.simplePagerNav a{
	float:left;
	text-decoration:none;
	margin-right:10px;
}	

.imageList img{
	margin-top:20px;
}

.simplePagerContainer{
	height: 496px;
	margin-top:35px;
}

 #alpha{
	float:left;
}

#omega{
	float:right;
}

.artistDetailText{
	width:238px;
	height: 496px;
	padding-right:5px;
	float:right;
}

.artistDetailText h2{
	font-size:32px;
}

/* artist photos */

.artistPhotoList{
	margin-top:10px;
	margin-left:30px;
	width:891px;
	height:580px;
}

#one{
	width:130px;
	float:left;
	margin:0 25px 15px 10px;
}

#two{
	width:130px;
	float:left;
	margin:0 25px 15px 10px;
}

#three{
	width:130px;
	float:left;
	margin:0 25px 15px 10px;
}

#four{
	width:130px;
	float:left;
	margin:0 25px 15px 10px;
}

#five{
	width:130px;
	height:130px;
	margin:0 25px 15px 10px;
	float:left;
}

/*artist name List*/

.artistNamesList{
	margin-top:10px;
	width:868px;
	height:142px;
	margin-left:195px;
	background-image: url("images/transparentBKG.png");
}

#first{
	width:190px;
	float:left;
}

#second{
	width:190px;
	float:left;
}

#third{
	width:190px;
	float:left;
}

#fourth{
	width:190px;
	float:left;
}


.artistHeader{
	-moz-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0.90);
	-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.90)";
	color: black;
	position: absolute;
	left: 145px;
	top: 625px;
}


.menuNav{
	text-decoration:none;
}

.active{
	text-decoration:underline;
}

.navItem{
	margin-bottom:10px;
}

.navItem a{
	text-decoration:none;
	color:black;
}

.navItem a:hover {
	text-decoration:underline;
}


/*DESIGN PAGE*/

.imageListBIG{
	width: 800px;
	height: 600px;
	float:left;
	margin-top:30px;
}

#pages ul{
	list-style-type:none;
	margin:0;
	padding:0;
}

.pagingBIG li{
	width:230px;
	height:230px;
	float:left;
	margin-left: 50px;
	margin-bottom: 20px;
}

.simplePagerNavBIG{
	width: 100px;
	height: 60px;
	float: right;
	position: absolute;
	top: 550px;
	left: 880px;
}

.simplePagerNavBIG a{
	float:left;
	text-decoration:none;
	margin-right:10px;
}

.simplePagerContainerBIG{
	height: 496px;
	width: 890px;
}

.currentPage a{
	text-decoration:underline;
}

.missionStatement{
	width:850px;
	height:122px;
	margin-left:192px;
	background-image: url("images/transparentBKG.png");
	float:left;
}


.missionStatement p{
	margin:0;
	padding:0;
	
}


/* releases page */


.releaseDescription{
		width:824px;
		height:auto;
		margin-left:10px;
		font-size:13px;
}

#releaseImage{
	margin-bottom:150px;
}

.releaseBlurb{
	height:250px;
}

.soundcloud{
	float:left;
	width:560px;
}

.contributingArtists{
	float:left;
	
}

.contributingArtists a{
	clear:right;
}

/*insividualRelease*/

.popupImge{
	margin-left:20px;
float:left;
}

.popupDesc{
	margin-left:20px;
	float:left;
	width:650px;
}

#soundPopUp{
	width:650px;
}

/* print page */

.printMission{
	width:891px;
	height:202px;
	margin-left:165px;
	border:#FFFFFF 1px solid;
	background-image: url("images/transparentBKG.png");
	margin-bottom:20px;
}

.printMission p{
	margin:10px;
}

.printFeatureLong{
	width:891px;
	height:auto;
	margin-left:165px;
	border:#FFFFFF 1px solid;
	background-image: url("images/transparentBKG.png");
}

.printFeatureLong a{
	color:#FFFFFF;
	margin:0;
	padding:0;
}

.printFeatureLong h2{
	color:#FFFFFF;
	margin:0;
	padding:0;
		}


.printFeatureLong img{
	padding-left:10px;
	padding-right:20px;
	float:left;
}

.printItem{
	margin-top:30px;
	clear:both;
}

.description{
	width:824px;
	height:275px;
	margin-left:10px;
	font-size:13px;
	line-height:15px;
	letter-spacing:0.08em;
}

.description h2{
	padding-bottom:10px;
}


.footer{
	height:30px;
	background-image:url("images/transparentBKG.png");
	width:100%;
	text-align: left;
	padding-left:180px;
	position:fixed;
	bottom:0;
	z-index:2;
}

.footer a{
	margin-left:115px;
	color:#FFFFFF;
}
